.img-1{
    width: 349px;
    height: 238px;
    margin-left: 16px;
    margin-top: 18px;
}

.img-2{
    width: 573px;
    height: 377px;
    top: 272px;
    margin-left: 16px;
    margin-top: 16px;
}

.img-3{
    width: 476px;
    height: 326px;
    top: 660px;
    margin-left: 16px;
    margin-top: 11px;
    margin-bottom: 38px;
}